.mainDiv {
  display: grid;
  grid-template-columns: auto 20vw;
  grid-template-rows: 10vh 90vh;
  margin: 0 auto;
  /* padding: 1em 0;  */
  gap:30px;
}
.Top {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
    border-style: ridge;
   grid-column :1 / span 2;
}
.tableDiv {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width:80vw;
  height: 80vh;
  float:left;
  top:30px;
}
.colorTable{
  align-items: right;
}
.Top button{
    width: 200px;
    height:50px;
    color:inherit;
    background-color: inherit
}